## Pandas Function

In [2]:
import pandas as pd
csv = pd.read_csv(r"C:\Users\ankul\Downloads\ank.csv")

In [3]:
csv

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,ELECTHERM,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UNIENTER,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,JAGSNPHARM,Jagsonpal Pharmaceutical Limited,1301892,73134,17.801420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SKMEGGPROD,SKM Egg Products Exportsn(India) Limited,1541130,87775,17.557733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SWELELCTES,Swelect Energy System Limited,207954,12276,16.938733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NAHARPOLY,Nahar Poly Film Limited,600043,38574,15.555297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LINC,Linc Limited,60551,4076,14.853673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.892143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DSSL,Dynacons System & Solution,263641,23439,11.247963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ANDREWYU,Andrew Yule & Company & Limited,2408026,230048,10.641332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LAXMICOT,Laxmi Costpin Limited,198503,19007,10.443312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.017751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALKALI,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## how to get a index
csv.index

RangeIndex(start=0, stop=25, step=1)

In [5]:
## how to get a columns
csv.columns

Index(['SYMBOL', 'SECURITY', 'TODAY - VILUME', 'AVG - VOLUME', 'CHANGE',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [9]:
## how to find min value and 25 percent 50 percent and 75 percent

csv.describe()

,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
count,2.500000e+01,25.000000,25.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,8.009246e+05,71237.680000,17.900822,NaN,NaN,NaN,NaN,NaN,NaN
std,1.395095e+06,139964.620859,10.796906,NaN,NaN,NaN,NaN,NaN,NaN
min,5.754000e+03,154.000000,7.606862,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.574960e+05,8356.000000,10.049911,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.047590e+05,19069.000000,14.853673,NaN,NaN,NaN,NaN,NaN,NaN
75%,7.053220e+05,82307.000000,21.528002,NaN,NaN,NaN,NaN,NaN,NaN
max,6.864080e+06,685602.000000,50.110003,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
csv.head()

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,ELECTHERM,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
csv.head(2)

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,ELECTHERM,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
csv.tail()

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALKALI,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
csv.tail(2)

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## how to call row number 
csv[:3]

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,ELECTHERM,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,

In [17]:
## how to call row number 
csv[2:7]

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UNIENTER,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
print(type(csv))

<class 'pandas.core.frame.DataFrame'>

In [19]:
## convert index number into array

csv.index.array

<NumpyExtensionArray>
[ np.int64(0),  np.int64(1),  np.int64(2),  np.int64(3),  np.int64(4),
  np.int64(5),  np.int64(6),  np.int64(7),  np.int64(8),  np.int64(9),
 np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14),
 np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19),
 np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24)]
Length: 25, dtype: int64

In [ ]:
## how to convert it into numpy array
csv.to_numpy()

array([['ELECTHERM', 'Electrotherm', 473907, 9457, 50.11000282, nan, nan,
        nan, nan, nan, nan, nan],
       ['NBIFIN', 'N. B. I. Industrial Finance Company', 5754, 154,
        37.20258621, nan, nan, nan, nan, nan, nan, nan],
       ['HINDCON', 'Hindcon Private Limited', 304759, 9248, 32.95345023,
        nan, nan, nan, nan, nan, nan, ' '],
       ['GKWLIMITED', 'GKW Limited', 21375, 711, 30.04920337, nan, nan,
        nan, nan, nan, nan, nan],
       ['21STCENMGM', '21st Century Management Service', 110375, 3879,
        28.45083129, nan, nan, nan, nan, nan, nan, nan],
       ['ALPHAGEO', 'Alphageo (India) Limited ', 232755, 8356,
        27.85261268, nan, nan, nan, nan, nan, nan, nan],
       ['UNIENTER', 'Uniphos Enterprised Limited', 162601, 7553,
        21.52800212, nan, nan, nan, nan, nan, nan, nan],
       ['JAGSNPHARM', 'Jagsonpal Pharmaceutical Limited', 1301892, 73134,
        17.80141977, nan, nan, nan, nan, nan, nan, nan],
       ['SKMEGGPROD', 'SKM Egg Products Exportsn(India) Limited',
        1541130, 87775, 17.55773284, nan, nan, nan, nan, nan, nan, nan],
       ['SWELELCTES', 'Swelect Energy System Limited', 207954, 12276,
        16.93873284, nan, nan, nan, nan, nan, nan, nan],
       ['NAHARPOLY', 'Nahar Poly Film Limited', 600043, 38574,
        15.55529728, nan, nan, nan, nan, nan, nan, nan],
       ['PODDARHOUS', 'Poddar Housing and Development', 46040, 3012,
        15.28383313, nan, nan, nan, nan, nan, nan, nan],
       ['LINC', 'Linc Limited', 60551, 4076, 14.85367349, nan, nan, nan,
        nan, nan, nan, nan],
       ['SHIVAMILLS', 'Shiva Mills Limited', 142943, 10391, 13.7555413,
        nan, nan, nan, nan, nan, nan, nan],
       ['PDMJEPAPER', 'Pudumjee Paper Products Limited', 1316284, 102646,
        12.89214253, nan, nan, nan, nan, nan, nan, nan],
       ['DSSL', 'Dynacons System & Solution', 263641, 23439, 11.24796282,
        nan, nan, nan, nan, nan, nan, nan],
       ['ANDREWYU', 'Andrew Yule & Company & Limited', 2408026, 230048,
        10.64133195, nan, nan, nan, nan, nan, nan, nan],
       ['LAXMICOT', 'Laxmi Costpin Limited', 198503, 19007, 10.44331235,
        nan, nan, nan, nan, nan, nan, nan],
       ['REPL', 'Rudrabhishek Enterprises Limited', 660281, 65700,
        10.04991136, nan, nan, nan, nan, nan, nan, nan],
       ['PILITA', 'PIL ITALICA LIFESTYLE LIMITED', 6864080, 685602,
        10.01775122, nan, nan, nan, nan, nan, nan, nan],
       ['BHAGYAPROP', 'Bhagyanagar Properties Limited', 305594, 30596,
        9.987765618, nan, nan, nan, nan, nan, nan, nan],
       ['MUNJALAU', 'Munjal Auto Industries Limited', 705322, 82307,
        8.569311803, nan, nan, nan, nan, nan, nan, nan],
       ['ALKALI', 'Alkalis Metals Limited', 157496, 19069, 8.563313454,
        nan, nan, nan, nan, nan, nan, nan],
       ['INTENTECH', 'Intense Technologies Limited', 1252606, 164644,
        7.607958578, nan, nan, nan, nan, nan, nan, nan],
       ['INDORAMA', 'Indo Rama Synthetic (India) Limited', 679204, 89288,
        7.606861665, nan, nan, nan, nan, nan, nan, nan]], dtype=object)

In [22]:
## another method to create numpy array
import numpy as np
v = np.asarray(csv)
v

array([['ELECTHERM', 'Electrotherm', 473907, 9457, 50.11000282, nan, nan,
        nan, nan, nan, nan, nan],
       ['NBIFIN', 'N. B. I. Industrial Finance Company', 5754, 154,
        37.20258621, nan, nan, nan, nan, nan, nan, nan],
       ['HINDCON', 'Hindcon Private Limited', 304759, 9248, 32.95345023,
        nan, nan, nan, nan, nan, nan, ' '],
       ['GKWLIMITED', 'GKW Limited', 21375, 711, 30.04920337, nan, nan,
        nan, nan, nan, nan, nan],
       ['21STCENMGM', '21st Century Management Service', 110375, 3879,
        28.45083129, nan, nan, nan, nan, nan, nan, nan],
       ['ALPHAGEO', 'Alphageo (India) Limited ', 232755, 8356,
        27.85261268, nan, nan, nan, nan, nan, nan, nan],
       ['UNIENTER', 'Uniphos Enterprised Limited', 162601, 7553,
        21.52800212, nan, nan, nan, nan, nan, nan, nan],
       ['JAGSNPHARM', 'Jagsonpal Pharmaceutical Limited', 1301892, 73134,
        17.80141977, nan, nan, nan, nan, nan, nan, nan],
       ['SKMEGGPROD', 'SKM Egg Products Exportsn(India) Limited',
        1541130, 87775, 17.55773284, nan, nan, nan, nan, nan, nan, nan],
       ['SWELELCTES', 'Swelect Energy System Limited', 207954, 12276,
        16.93873284, nan, nan, nan, nan, nan, nan, nan],
       ['NAHARPOLY', 'Nahar Poly Film Limited', 600043, 38574,
        15.55529728, nan, nan, nan, nan, nan, nan, nan],
       ['PODDARHOUS', 'Poddar Housing and Development', 46040, 3012,
        15.28383313, nan, nan, nan, nan, nan, nan, nan],
       ['LINC', 'Linc Limited', 60551, 4076, 14.85367349, nan, nan, nan,
        nan, nan, nan, nan],
       ['SHIVAMILLS', 'Shiva Mills Limited', 142943, 10391, 13.7555413,
        nan, nan, nan, nan, nan, nan, nan],
       ['PDMJEPAPER', 'Pudumjee Paper Products Limited', 1316284, 102646,
        12.89214253, nan, nan, nan, nan, nan, nan, nan],
       ['DSSL', 'Dynacons System & Solution', 263641, 23439, 11.24796282,
        nan, nan, nan, nan, nan, nan, nan],
       ['ANDREWYU', 'Andrew Yule & Company & Limited', 2408026, 230048,
        10.64133195, nan, nan, nan, nan, nan, nan, nan],
       ['LAXMICOT', 'Laxmi Costpin Limited', 198503, 19007, 10.44331235,
        nan, nan, nan, nan, nan, nan, nan],
       ['REPL', 'Rudrabhishek Enterprises Limited', 660281, 65700,
        10.04991136, nan, nan, nan, nan, nan, nan, nan],
       ['PILITA', 'PIL ITALICA LIFESTYLE LIMITED', 6864080, 685602,
        10.01775122, nan, nan, nan, nan, nan, nan, nan],
       ['BHAGYAPROP', 'Bhagyanagar Properties Limited', 305594, 30596,
        9.987765618, nan, nan, nan, nan, nan, nan, nan],
       ['MUNJALAU', 'Munjal Auto Industries Limited', 705322, 82307,
        8.569311803, nan, nan, nan, nan, nan, nan, nan],
       ['ALKALI', 'Alkalis Metals Limited', 157496, 19069, 8.563313454,
        nan, nan, nan, nan, nan, nan, nan],
       ['INTENTECH', 'Intense Technologies Limited', 1252606, 164644,
        7.607958578, nan, nan, nan, nan, nan, nan, nan],
       ['INDORAMA', 'Indo Rama Synthetic (India) Limited', 679204, 89288,
        7.606861665, nan, nan, nan, nan, nan, nan, nan]], dtype=object)

In [23]:
## print data into descending order

csv.sort_index(axis=0,ascending=False)

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALKALI,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.017751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LAXMICOT,Laxmi Costpin Limited,198503,19007,10.443312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ANDREWYU,Andrew Yule & Company & Limited,2408026,230048,10.641332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DSSL,Dynacons System & Solution,263641,23439,11.247963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.892143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LINC,Linc Limited,60551,4076,14.853673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NAHARPOLY,Nahar Poly Film Limited,600043,38574,15.555297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SWELELCTES,Swelect Energy System Limited,207954,12276,16.938733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SKMEGGPROD,SKM Egg Products Exportsn(India) Limited,1541130,87775,17.557733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,JAGSNPHARM,Jagsonpal Pharmaceutical Limited,1301892,73134,17.801420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UNIENTER,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,ELECTHERM,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
csv["SYMBOL"][0] = "Python"
csv

C:\Users\ankul\AppData\Local\Temp\ipykernel_9304\1783452764.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  csv["SYMBOL"][0] = "Python"
C:\Users\ankul\AppData\Local\Temp\ipykernel_9304\1783452764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv["SYMBOL"][0] = "Python"

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Python,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UNIENTER,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,JAGSNPHARM,Jagsonpal Pharmaceutical Limited,1301892,73134,17.801420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SKMEGGPROD,SKM Egg Products Exportsn(India) Limited,1541130,87775,17.557733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SWELELCTES,Swelect Energy System Limited,207954,12276,16.938733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NAHARPOLY,Nahar Poly Film Limited,600043,38574,15.555297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LINC,Linc Limited,60551,4076,14.853673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.892143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DSSL,Dynacons System & Solution,263641,23439,11.247963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ANDREWYU,Andrew Yule & Company & Limited,2408026,230048,10.641332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LAXMICOT,Laxmi Costpin Limited,198503,19007,10.443312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.017751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALKALI,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
## using loc method to changes in row

csv.loc[0,"SYMBOL"] = "Java"
csv

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Java,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UNIENTER,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,JAGSNPHARM,Jagsonpal Pharmaceutical Limited,1301892,73134,17.801420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SKMEGGPROD,SKM Egg Products Exportsn(India) Limited,1541130,87775,17.557733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SWELELCTES,Swelect Energy System Limited,207954,12276,16.938733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NAHARPOLY,Nahar Poly Film Limited,600043,38574,15.555297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LINC,Linc Limited,60551,4076,14.853673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.892143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DSSL,Dynacons System & Solution,263641,23439,11.247963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ANDREWYU,Andrew Yule & Company & Limited,2408026,230048,10.641332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LAXMICOT,Laxmi Costpin Limited,198503,19007,10.443312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.017751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALKALI,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# loc method is used to get any data

csv.loc[[2,3],["SYMBOL","SECURITY"]]
csv

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Java,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UNIENTER,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,JAGSNPHARM,Jagsonpal Pharmaceutical Limited,1301892,73134,17.801420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SKMEGGPROD,SKM Egg Products Exportsn(India) Limited,1541130,87775,17.557733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SWELELCTES,Swelect Energy System Limited,207954,12276,16.938733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NAHARPOLY,Nahar Poly Film Limited,600043,38574,15.555297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LINC,Linc Limited,60551,4076,14.853673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.892143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DSSL,Dynacons System & Solution,263641,23439,11.247963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ANDREWYU,Andrew Yule & Company & Limited,2408026,230048,10.641332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LAXMICOT,Laxmi Costpin Limited,198503,19007,10.443312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.017751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALKALI,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
csv.loc[:,["SYMBOL","SECURITY"]]
csv

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Java,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UNIENTER,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,JAGSNPHARM,Jagsonpal Pharmaceutical Limited,1301892,73134,17.801420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SKMEGGPROD,SKM Egg Products Exportsn(India) Limited,1541130,87775,17.557733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SWELELCTES,Swelect Energy System Limited,207954,12276,16.938733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NAHARPOLY,Nahar Poly Film Limited,600043,38574,15.555297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LINC,Linc Limited,60551,4076,14.853673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.892143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DSSL,Dynacons System & Solution,263641,23439,11.247963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ANDREWYU,Andrew Yule & Company & Limited,2408026,230048,10.641332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LAXMICOT,Laxmi Costpin Limited,198503,19007,10.443312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.017751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALKALI,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
csv.loc[[2,3],:]

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
## iloc method

csv.iloc[0,1]

'Electrotherm'

In [ ]:
## it show 4 number row 
csv.iloc[4]

SYMBOL                                 21STCENMGM
SECURITY          21st Century Management Service
TODAY - VILUME                             110375
AVG - VOLUME                                 3879
CHANGE                                  28.450831
Unnamed: 5                                    NaN
Unnamed: 6                                    NaN
Unnamed: 7                                    NaN
Unnamed: 8                                    NaN
Unnamed: 9                                    NaN
Unnamed: 10                                   NaN
Unnamed: 11                                   NaN
Name: 4, dtype: object

In [41]:
# these will show 1 row of 3 column
csv.iloc[1,3]

np.int64(154)

In [42]:
## how to delete a column using drop method

csv.drop("SYMBOL",axis=1)

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Electrotherm,473907,9457,50.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Jagsonpal Pharmaceutical Limited,1301892,73134,17.801420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SKM Egg Products Exportsn(India) Limited,1541130,87775,17.557733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Swelect Energy System Limited,207954,12276,16.938733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Nahar Poly Film Limited,600043,38574,15.555297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Poddar Housing and Development,46040,3012,15.283833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Linc Limited,60551,4076,14.853673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Shiva Mills Limited,142943,10391,13.755541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Pudumjee Paper Products Limited,1316284,102646,12.892143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Dynacons System & Solution,263641,23439,11.247963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Andrew Yule & Company & Limited,2408026,230048,10.641332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Laxmi Costpin Limited,198503,19007,10.443312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Rudrabhishek Enterprises Limited,660281,65700,10.049911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.017751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
## how to remove or delete a row

csv.drop(0, axis=0)

,SYMBOL,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDCON,Hindcon Private Limited,304759,9248,32.953450,NaN,NaN,NaN,NaN,NaN,NaN,
3,GKWLIMITED,GKW Limited,21375,711,30.049203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21STCENMGM,21st Century Management Service,110375,3879,28.450831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UNIENTER,Uniphos Enterprised Limited,162601,7553,21.528002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,JAGSNPHARM,Jagsonpal Pharmaceutical Limited,1301892,73134,17.801420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SKMEGGPROD,SKM Egg Products Exportsn(India) Limited,1541130,87775,17.557733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SWELELCTES,Swelect Energy System Limited,207954,12276,16.938733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NAHARPOLY,Nahar Poly Film Limited,600043,38574,15.555297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LINC,Linc Limited,60551,4076,14.853673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.892143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DSSL,Dynacons System & Solution,263641,23439,11.247963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ANDREWYU,Andrew Yule & Company & Limited,2408026,230048,10.641332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LAXMICOT,Laxmi Costpin Limited,198503,19007,10.443312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.017751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALKALI,Alkalis Metals Limited,157496,19069,8.563313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,INDORAMA,Indo Rama Synthetic (India) Limited,679204,89288,7.606862,NaN,NaN,NaN,NaN,NaN,NaN,NaN